<%= render "shared/header"%>

<body>
  <div class="typing-content">
    <div class="typing-word-content">
      <div id="typing-words">
      </div>
    </div>
    <div class="count-down-timer">
      <div class="upper-count-down">
        <p class="sec-part">
          <span id="sec">0</span > 秒
        </p>
      </div>
      <div class="lower-count-down">
        <p>
          <input type="button" id="start" value="START">
          <input type="button" id="stop" value="STOP" disabled>
        </p>
      </div>
    </div>
    <div class="correct-typing">
      <div class="correct-number-js">
        <span id="count-number">0</span><span>単語タイピングできました</span>
      </div>
      <%= form_with model: @score, local: true, id:"form" do |s| %>
        <%= s.text_field :user_id, value: current_user.id, type: "hidden" %>
        <%= s.text_field :point, placeholder: "タイピングできた単語数を入力してください", id:"correct-number", type: "hidden" %>
        <%= s.submit "送信", id: "end_btn" %>
      <% end %>
    </div>
  </div>
  
  <%= include_gon %>
</body>

<%#= render "shared/footer"%>